@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Contact - your smart contact manager!</h1>

<p>
Contacts is a modern web app designed to help you organize, secure, and manage your contacts effortlessly.<br /> 
Whether for personal or professional use, our intuitive platform lets you add, edit, and categorize contacts with ease—all while keeping your data safe.<br />
Enjoy customizable categories, strong password protection, and seamless access from any device.<br /><br />

Log in to unlock the full potential of Contact and take control of your contacts today!
</p>
