USE [master]
GO
/****** Object:  Database [FirstTask]    Script Date: 30.11.2025 21:03:44 ******/
CREATE DATABASE [FirstTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FirstTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FirstTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FirstTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FirstTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FirstTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FirstTask]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30.11.2025 21:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[IsCustom] [bit] NOT NULL,
	[HasManySub] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 30.11.2025 21:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[Surname] [varchar](200) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[Phone] [varchar](50) NULL,
	[BirthDate] [date] NULL,
	[CategoryId] [int] NOT NULL,
	[SubcategoryId] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 30.11.2025 21:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30.11.2025 21:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[ContactId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PwdHash] [nvarchar](max) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsCustom], [HasManySub]) VALUES (1, N'Prywatny', 0, 0)
INSERT [dbo].[Category] ([Id], [Name], [IsCustom], [HasManySub]) VALUES (2, N'Służbowy', 0, 1)
INSERT [dbo].[Category] ([Id], [Name], [IsCustom], [HasManySub]) VALUES (3, N'Inny', 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Contact] ([Id], [FirstName], [Surname], [Email], [Phone], [BirthDate], [CategoryId], [SubcategoryId]) VALUES (N'fd66da9b-bdab-4f3e-9c89-01242efdbea9', N'Karolina', N'Lis', N'karolina.lis@example.com', N'147852369', CAST(N'1996-06-24' AS Date), 3, 6)
INSERT [dbo].[Contact] ([Id], [FirstName], [Surname], [Email], [Phone], [BirthDate], [CategoryId], [SubcategoryId]) VALUES (N'c70fa9d9-e56c-48eb-9f2e-01e27ad7a25b', N'Piotr', N'Wiśniewski', N'piotr.wisniewski@example.com', N'456789123', CAST(N'1978-11-15' AS Date), 2, 2)
INSERT [dbo].[Contact] ([Id], [FirstName], [Surname], [Email], [Phone], [BirthDate], [CategoryId], [SubcategoryId]) VALUES (N'd16c786e-a935-463b-ac98-0b818814ff58', N'Tomasz', N'Lewandowski', N'tomasz.lewandowski@example.com', N'321654987', CAST(N'1982-07-18' AS Date), 2, 7)
GO
SET IDENTITY_INSERT [dbo].[Subcategory] ON 

INSERT [dbo].[Subcategory] ([Id], [CategoryId], [Name]) VALUES (1, 2, N'Szef')
INSERT [dbo].[Subcategory] ([Id], [CategoryId], [Name]) VALUES (2, 2, N'Klient')
INSERT [dbo].[Subcategory] ([Id], [CategoryId], [Name]) VALUES (3, 2, N'Manager')
SET IDENTITY_INSERT [dbo].[Subcategory] OFF
GO
INSERT [dbo].[User] ([Id], [ContactId], [Username], [PwdHash]) VALUES (N'68a499bb-db29-4aec-aec5-328ae91ad092', N'd6ae70eb-079d-4bfd-8ae1-9228d19b08fb', N'dddd', N'AQAAAAIAAYagAAAAEP32DNtXdE2RkYHaYGItQi4bdNaglHen/7mJ1XhARElzVn+PNP9QZ3qbBW2v2Rbqtw==')
INSERT [dbo].[User] ([Id], [ContactId], [Username], [PwdHash]) VALUES (N'a229568a-8de2-4634-886f-37e85006998e', N'dbc47210-aa17-401c-b22b-4163c1bd2712', N'mk@net.pl', N'AQAAAAIAAYagAAAAEIJp1xLoKcqZb2NNV57xYpfkzA0lnAZTM8qYMsTZqGplfujauc7GvqO/nibiVR69/w==')
INSERT [dbo].[User] ([Id], [ContactId], [Username], [PwdHash]) VALUES (N'd965e90c-485a-45f5-bd3e-4e8638dcb9ef', N'8358cc04-7613-4154-8267-49dcc78058ec', N'jankowalski', N'AQAAAAIAAYagAAAAEKqW++/3nLr3aOyMCPOGOu1VVcG1eSP1ZXkOBwry9FSQ6nQM72sbMTLkMnVOLaDQjQ==')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__737584F66BB4572D]    Script Date: 30.11.2025 21:03:44 ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contact__A9D1053434999310]    Script Date: 30.11.2025 21:03:44 ******/
ALTER TABLE [dbo].[Contact] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category]    Script Date: 30.11.2025 21:03:44 ******/
CREATE NONCLUSTERED INDEX [IX_Category] ON [dbo].[Contact]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 30.11.2025 21:03:44 ******/
CREATE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Contact]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subcategory]    Script Date: 30.11.2025 21:03:44 ******/
CREATE NONCLUSTERED INDEX [IX_Subcategory] ON [dbo].[Contact]
(
	[SubcategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subcateg__737584F65AC02947]    Script Date: 30.11.2025 21:03:44 ******/
ALTER TABLE [dbo].[Subcategory] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E40749FAF7]    Script Date: 30.11.2025 21:03:44 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_ContactId]    Script Date: 30.11.2025 21:03:44 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_ContactId] UNIQUE NONCLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactId]    Script Date: 30.11.2025 21:03:44 ******/
CREATE NONCLUSTERED INDEX [IX_ContactId] ON [dbo].[User]
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([SubcategoryId])
REFERENCES [dbo].[Subcategory] ([Id])
GO
ALTER TABLE [dbo].[Subcategory]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contact] ([Id])
GO
USE [master]
GO
